<mat-card class="example-card" *ngIf="analise">
    <mat-card-header>
        <mat-card-title>Análise feita em {{analise.date_analyse | date: 'dd/MM/yyyy'}} para {{analise.benefited.name}}</mat-card-title>
        <mat-card-subtitle>Responsável pela análise: {{analise.responsible}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <mat-card class="col-3 card-analyse card-cian">
                <mat-card-content>{{analise.analysis_results.length}} Imagens</mat-card-content>
            </mat-card>
            <mat-card class="col-3 card-analyse card-green">
                <mat-card-content>{{series.total}} Sementes analisadas</mat-card-content>
            </mat-card>
            <mat-card class="col-3 card-analyse card-blue">
                <mat-card-content>{{quantityHighVigorSeeds}} sementes de alto vigor</mat-card-content>
            </mat-card>
            <mat-card class="col-3 card-analyse card-red">
                <mat-card-content>{{quantitySeedsWithProblems}} sementes com danos</mat-card-content>
            </mat-card>
        </div>
        <p>{{analise.comments}}</p>
            <div class="row">
                <div class="col-6 chart">
                    <canvasjs-chart [options]="chartPieOptions"></canvasjs-chart>
                </div>
                <div class="col-6 chart">
                    <canvasjs-chart [options]="paretoOptions"></canvasjs-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-6 chart">
                    <canvasjs-chart [options]="barMediaChartOptions"></canvasjs-chart>
                </div>
                <div class="col-6 chart" >
                    <canvasjs-chart [options]="barChartOptions"></canvasjs-chart>
                </div>
            </div>
            
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="createCSV()" style="margin: 0.7rem;" mat-button>
            <mat-icon>attach_file</mat-icon> 
            Baixar CSV
        </button>
        <button mat-stroked-button color="warn" (click)="voltarParaTabela()" mat-button>
            <mat-icon>table_chart</mat-icon> 
            Voltar
        </button>
    </mat-card-actions>
</mat-card>