<mat-stepper labelPosition="bottom" #stepper orientation="horizontal">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Anexe a(s) imagens para análise</ng-template>

        <mat-form-field class="max-width">
          <mat-label>Upload</mat-label>
          <ngx-mat-file-input formControlName="multipleInputFile"
              placeholder="Anexe imagens para análise"
              multiple="true"
              valuePlaceholder="Nenhuma imagem selecionada"
              [accept]="'.png , .jpg'"
              required>
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="firstFormGroup.get('multipleInputFile')?.hasError('required')">
            Please select a file
          </mat-error>
          <mat-error *ngIf="firstFormGroup.get('multipleInputFile')?.hasError('maxContentSize')">
            Tamanho total não deve exceder {{firstFormGroup.get('multipleInputFile')?.getError('maxContentSize').maxSize |
            byteFormat}} ({{firstFormGroup.get('multipleInputFile')?.getError('maxContentSize').actualSize
            | byteFormat}}).
          </mat-error>
        </mat-form-field>
        <p>Tamanho máximo para analisar {{ maxSize | byteFormat }}</p>
        
        <div>
          <button [disabled]="!firstFormGroup.valid" (click)="analisarImagensAvulsas()" class="m-r-8" mat-raised-button
                  color="accent">Análisar imagens</button>
          <button [disabled]="!firstFormGroup.valid" mat-raised-button matStepperNext color="primary">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Preencha informações sobre a análise</ng-template>
        <div class="row m-t-12">
          <mat-form-field class="col-3">
            <mat-label>Responsável</mat-label>
            <input matInput formControlName="responsible" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Beneficiado</mat-label>
            <!-- <input matInput formControlName="beneficiado" placeholder=""
                   required> -->
            <mat-select formControlName="benefited_id" required>
              <mat-option>Selecione</mat-option>
              <mat-option *ngFor="let beneficiado of beneficiados" [value]="beneficiado.id">
                {{beneficiado.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Data da análise</mat-label>
            <input type="date" matInput formControlName="date_analyse" placeholder=""
                   required>
          </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-3">
              <mat-label>Comentários</mat-label>
              <input matInput formControlName="comments" placeholder=""
                    required>
            </mat-form-field>
          </div>
        <div>
          <button class="m-r-8" mat-raised-button matStepperPrevious color="warn">Voltar</button>
          <button [disabled]="!secondFormGroup.valid" mat-raised-button matStepperNext (click)="salvarAnalise()" color="primary">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>You are now done.</p>
      <div>
        <button class="m-r-8" mat-raised-button matStepperPrevious color="warn">Voltar</button>
        <button mat-stroked-button color="warn" (click)="stepper.reset()">Reiniciar</button>
      </div>
    </mat-step>
  </mat-stepper>
  